{% extends "layout.html" %}
{% block container %}



<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
<a href="#" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Read more</a>
  <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    APATERNO
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    AMATERNO
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    CORREO
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Editar 
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Angel
                </th>
                <td class="px-6 py-4">
                    Mandujano
                </td>
                <td class="px-6 py-4">
                    Mandujano
                </td>
                <td class="px-6 py-4">
                    angel@gmail.com
                </td>
                
                 <button type="button" class="text-white bg-warning box-border border border-transparent hover:bg-warning-strong focus:ring-4 focus:ring-warning-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Warning</button>
            </tr>
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Jairo Alexiz
                </th>
                <td class="px-6 py-4">
                    Sanchez
                </td>
                <td class="px-6 py-4">
                    Perez
                </td>
                <td class="px-6 py-4">
                    jairo@gmail.com
                </td>
                                
            </tr>
            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Chuy
                </th>
                <td class="px-6 py-4">
                    Sanchez
                </td>
                <td class="px-6 py-4">
                    Moreno
                </td>
                <td class="px-6 py-4">
                    chuy@gmail.com
                </td>
            </tr>
        </tbody>
    </table>
</div>


{%endblock%}