<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Escuela</title>

<link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">

</head>

<body>

<nav class="bg-gray-900 px-2 sm:px-4 py-2.5">

<div class="container flex flex-wrap items-center justify-between mx-auto">

<a href="/" class="flex items-center">

<img src="{{url_for('static',filename='img/IDGS805.png')}}"
class="rounded-2xl h-6 mr-3 sm:h-9">

<span class="self-center text-xl font-semibold whitespace-nowrap text-white">
Flask IDGS
</span>

</a>

<div class="flex md:order-2">

<a href="/alumnos"
class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3">

Alumnos

</a>

</div>

<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">

<ul class="flex flex-col p-4 mt-4 rounded-lg
md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">

<li>
<a href="/"
class="block py-2 pl-3 pr-4 text-blue-400 md:p-0">
Home
</a>
</li>

<li>
<a href="/alumnos"
class="block py-2 pl-3 pr-4 text-white hover:text-blue-400 md:p-0">
Alumnos
</a>
</li>

<li>
<a href="/Maestros"
class="block py-2 pl-3 pr-4 text-white hover:text-blue-400 md:p-0">
Maestros
</a>
</li>

<li>
<a href="/Cursos"
class="block py-2 pl-3 pr-4 text-white hover:text-blue-400 md:p-0">
Cursos
</a>
</li>

<li>
<a href="/consultas"
class="block py-2 pl-3 pr-4 text-white hover:text-blue-400 md:p-0">
Consultas
</a>
</li>

</ul>

</div>
</div>
</nav>

<div class="flex items-center justify-center min-h-screen">

{%with messages=get_flashed_messages()%}
{%if messages%}
{%for message in messages%}

<div class="alert alert-success">
{{message}}
</div>

{%endfor%}
{%endif%}
{%endwith%}

{% block container %}
{% endblock %}

</div>


<!-- MENU INFERIOR -->

<div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-white border border-gray-200
rounded-full bottom-4 left-1/2 dark:bg-gray-700 dark:border-gray-600">

<div class="grid h-full max-w-lg grid-cols-5 mx-auto">


<a href="/"
class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 group">

<svg class="w-5 h-5 mb-1 text-gray-500 group-hover:text-blue-600"
fill="currentColor" viewBox="0 0 20 20">

<path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586"/>

</svg>

</a>


<a href="/alumnos"
class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group">

<svg class="w-5 h-5 mb-1 text-gray-500 group-hover:text-blue-600"
fill="currentColor" viewBox="0 0 20 20">

<path d="M11.074 4 8.442.408A.95.95 0 0 0 7.014.254L2.926 4h8.148Z"/>

</svg>

</a>


<div class="flex items-center justify-center">

<a href="/Cursos"
class="inline-flex items-center justify-center w-10 h-10 font-medium bg-blue-600 rounded-full hover:bg-blue-700">

<svg class="w-4 h-4 text-white"
fill="none" viewBox="0 0 18 18">

<path stroke="currentColor"
stroke-linecap="round"
stroke-linejoin="round"
stroke-width="2"
d="M9 1v16M1 9h16"/>

</svg>

</a>

</div>


<a href="/Maestros"
class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group">

<svg class="w-5 h-5 mb-1 text-gray-500 group-hover:text-blue-600"
fill="none" viewBox="0 0 20 20">

<path stroke="currentColor"
stroke-width="2"
d="M4 12.25V1"/>

</svg>

</a>


<a href="/consultas"
class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 group">

<svg class="w-5 h-5 mb-1 text-gray-500 group-hover:text-blue-600"
fill="currentColor" viewBox="0 0 20 20">

<path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Z"/>

</svg>

</a>

</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</body>
</html>